@font-face {
    font-family: 'helveticaneue';
    src: url('helveticaneue.ttf') format('ttf');
}
header {
    background-color: #0A22F4;
    color: #ffffff;
    width: 1920px;
    height: 308px;
    padding: 70px 0px 0px 240px;
}
